Werkzeug==0.11.4
cffi==1.5.2
cryptography==1.2.2
enum34==1.1.2
idna==2.0
ipaddress==1.0.16
pluggy==0.3.1
py==1.4.31
pyOpenSSL==0.15.1
pyasn1==0.1.9
pycparser==2.14
pytest==2.8.7
six==1.10.0
tox==2.3.1
virtualenv==14.0.6
